<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ItdaApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/itda_logo"
        android:label="@string/app_title"
        android:roundIcon="@drawable/itda_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Itda">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_title"
            android:theme="@style/Theme.Itda">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>